# class files are just not cool
*.class

# temp files are also just not cool
*~

ParseException.java
SyntaxCheckerTokenManager.java
Token.java
SimpleCharStream.java
TokenMgrError.java
SyntaxChecker.java
SyntaxCheckerConstants.java
